{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="csrf-token" content="iL8hUXsdXy71MbOZjq4fWUv4KGPZnJ7k17P7RClL">
    <link rel="icon" href="https://thememakker.com/templates/oreo/hospital/laravel/public/favicon.ico"
        type="image/x-icon"> <!-- Favicon-->
    <title>Dashboard - Oero Laravel</title>
    <meta name="description" content="Oero Laravel">
    <meta name="author" content="Oero Laravel">


    <link rel="stylesheet" href="{% static '\assets\plugins\bootstrap\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '\assets\plugins\jvectormap\jquery-jvectormap-2.0.3.min.css' %}">
    <link rel="stylesheet" href="{%  static  '\assets\plugins\morrisjs\morris.min.css' %}">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static '\assets\css\main.css' %}">
    <link rel="stylesheet" href="{% static '\assets\css\color_skins.css' %}">
</head>

<body class="theme-cyan">
    {% block content %}
    {% endblock %}

    <!-- Scripts -->
    <script src="{% static '\assets\bundles\libscripts.bundle.js' %}"></script>
    <script src="{% static '\assets\bundles\vendorscripts.bundle.js' %}"></script>

    <script src="{% static '\assets\bundles\mainscripts.bundle.js' %}"></script>
    <script src="{% static '\assets\bundles\morrisscripts.bundle.js' %}"></script>
    <script src="{% static '\assets\bundles\jvectormap.bundle.js' %}"></script>
    <script src="{% static '\assets\bundles\knob.bundle.js' %}"></script>
    <script src="{% static '\assets\js\pages\index.js' %}"></script>
</body>

</html>